
@font-face{
    font-family: Ring;
    src: url('ring.eot'),
    url('ring.ttf');
}

*{
    font-family: Ring, serif;
    font-weight: normal;
}
#container, .btn, #cocktailName, #bartenderFace, #endScreen, #cocktailIngredients, #svg {
    display: none;
}
h1{
    font-size: 75px;
    text-align: center;
    color: black;
}
#lord{
    position: absolute;
    margin-top: 22%;
    left:30%;
}
body, div {
    margin: 0;
    padding: 0;
}
.start{
    background-image: url("images/start-background.jpg");
    width: 1600px;
    height: 800px;
}
img {
    margin-top: 10px;
}

.bartenderImg:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}

.bartenderImg{
    position: relative;
    left: 15%;
}
.green {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3b6e22;
    cursor:pointer;
    color:#ffffff;
    font-size:28px;
    font-weight:bold;
    padding:15px 39px;
    text-decoration:none;
}
.green:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}
#ready {
    top: 600px;
    left: 1275px;
    position: absolute;
}
#reset {
    top: 600px;
    left: 1080px;
    position: absolute;
}
.red {
    background: #d0451b linear-gradient(to bottom, #d0451b 5%, #bc3315 100%) repeat scroll 0 0;
    border: 1px solid #942911;
    border-radius: 8px;
    box-shadow: 0 1px 0 0 #cf866c inset;
    color: #ffffff;
    cursor: pointer;
    font-size: 28px;
    font-weight:bold;
    padding:15px 39px;
    text-decoration: none;
    text-shadow: 0 1px 0 #854629;
    z-index: 2;
}
.red:hover {
    background: #bc3315 linear-gradient(to bottom, #bc3315 5%, #d0451b 100%) repeat scroll 0 0;
}
#cocktailName {
    top: 8px;
    left: 1111px;
    position: absolute;
    border-radius:8px;
    color:#ffffff;
    font-size:30px;
    font-weight:normal;
    padding:15px 39px;
    text-decoration:none;
    width: 350px;
}
#bartenderFace {
  width: 312px;
  height: 312px;
  position: absolute;
  top: 10px;
  left: 850px;
}
img:hover {
    cursor: pointer;
}
#endScreen {
    width: 1800px;
    height: 500px;
    position:absolute;
    top:20px;
    left:30px;
    color:#ffffff;
}
#end-canvas-div{
    display: none;
    text-align: center;
    position: relative;
    font-size:30px;
    font-weight:normal;
}

#cocktailIngredients {
    top: 150px;
    left: 1111px;
    position: absolute;
    border-radius:8px;
    color:#fff;
    font-size:30px;
    font-weight:normal;
    padding:15px 39px;
    text-decoration:none;
    width: 350px;
}

#cocktailIngredients .cocktail-label,
#cocktailName .cocktail-label{
    color:#ccc;
}


#credits{
    position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: normal;
    font-family: Arial !important;
	text-align: center;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
}

#credits:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#endScreen {
	position: absolute;
	top: 100%;
	animation: scroll 70s linear 3s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
#ending-text
{
	position: absolute;
	width: 2.6em;
	left: 50%;
	top: -20%;
	font-size: 10em;
	text-align: center;
	margin-left: -1.3em;
	line-height: 0.8em;
	letter-spacing: -0.05em;
	color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
	opacity: 0;
	z-index: 1;
	-webkit-animation: logo 5s ease-out 1s;
	-moz-animation: logo 5s ease-out 1s;
	-ms-animation: logo 5s ease-out 1s;
	-o-animation: logo 5s ease-out 1s;
	animation: logo 5s ease-out 1s;
}
#ending-text sub
{
	display: block;
	font-size: 0.3em;
	letter-spacing: 0;
	line-height: 0.8em;
}
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-webkit-keyframes logo {
	0% { -webkit-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
	0% { -moz-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
	0% { -ms-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
	0% { -o-transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
	0% { transform: scale(1); opacity: 1; }
	50% { opacity: 1; }
	100% { transform: scale(0.1); opacity: 0; }
}


/*svg*/

#svg {
    position: absolute;
    top: 42%;
    left: 42%;
}